img {
    width: 100%;
    max-width: 100px;
}

.errorBox {
    height: 200px;
    margin: 20px;
    background-color: #eed202;
    text-align: center;
    padding-top: 1px;
    border-radius: 10px;
}

.errorText {
    margin-top: 70px;
}

.divContainer {
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    overflow: hidden;
    margin: 40;
    margin-left: 100;
    margin-right: 100;
    font-size: 1.25rem;
    background-color: #f3f4ed;
}

h1 {
    color: rgb(0, 0, 8);
    text-align: center;
}

.message {
    color: green;
    font-style: italic;
}

.email {
    color: blue;
    font-weight: bold;
}

.date {
    color: brown;
}